@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-gray-900 antialiased;
  }

  h1, h2, h3 {
    @apply font-sora;
  }

  h1 {
    @apply text-5xl font-bold leading-tight text-navy;
  }

  h2 {
    @apply text-4xl font-semibold leading-snug text-navy;
  }

  h3 {
    @apply text-3xl font-semibold leading-snug text-gray-900;
  }
}
